h1 {
  text-align: center;
}

.container {
  text-align: center;
  height: 100px;
  width: 350px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid black;
}

.counter-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.counter-btn button {
  border-radius: 20px;
  padding: 5px;
  outline: none;
  border: 2px solid black;
  background-color: aliceblue;
  cursor: pointer;
}

.counter-btn button:hover {
  background-color: black;
  color: white;
}
